body {
    background: purple;
}

.board {
    /* width: 100vw; //will add later for adaptability enough headachas now
    height: 100vw; */

    width: 1000px;
    height: 850px;
    margin: auto;
    border: 1px solid rebeccapurple;
    position: relative;
}

.inputFeedback {
    position: absolute;
    bottom: 50px;
    left: 400px;
    color: white;
}

table {
    position: absolute;
    left: 170px;
    top: 98px;
    border-spacing: 0px;
}

td {
    height: 95px;
    width: 95px;
    border: 1px solid white;
}

form {
    position: absolute;
    bottom: 0px;
    left: 400px;
    padding: 15px;
    background-color: blue;
}

form input {
    background-color: purple;
    border-color: rgb(77, 0, 128);
    font-size: 1em;
    color: white;
}
